@namespace Hexalith.FrontComposer.Shell.Components.Badges

<span class="@CssClass"
      data-testid="fc-desaturated-badge"
      data-fc-optimistic-state="@State">
    <FcStatusBadge Slot="@ResolvedSlot"
                   Label="@ResolvedLabel"
                   ColumnHeader="@ColumnHeader" />
</span>
